<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TutorDesk - Students</title>
</head>
<body>
<h1>All Students</h1>
<a href="/students/new">Add New Student</a>
<br/><br/>
<table border="1">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td>
            <a th:href="@{/students/edit/{id}(id=${student.id})}">Edit</a>
            &nbsp;
            <a th:href="@{/students/profile/{id}(id=${student.id})}">View Profile</a>
            &nbsp;
            <form th:action="@{/students/delete/{id}(id=${student.id})}" th:method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>